html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 60, 46);
}

#contenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#schermo {
    width: 50vw;
    height: 50px;
    background-color: rgb(40, 45, 70);
    color: rgb(230, 230, 230);
    text-align: right;
    font-size: xx-large;
    padding: 5px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

#calcolatrice {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 50vw;
    padding: 10px;
    justify-items: center;
    background-color: rgb(54, 96, 72);
    border-radius: 10px;
}

.pulsante {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(122, 58, 58);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(245, 245, 245);
    cursor: pointer;
}

.pulsante:hover {
    background-color: rgb(160, 75, 75);
}

.pulsante:active {
    background-color: rgb(180, 90, 90);
}

.operatore {
    background-color: rgb(200, 120, 40);
    color: rgb(30, 30, 30);
}

.operatore:hover {
    background-color: rgb(220, 140, 60);
}

.operatore:active {
    background-color: rgb(240, 160, 80);
}
/*gfabio08*/




